html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

$base-font-size: 16px;
$max-width: 1024px;
$main-spacing: 15px;
$primary-color: teal;
$text-color: black;
$border-color: gray;
$tile-text-color: white;

html, body {
    font-size: $base-font-size;
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
    font-weight: 300;
  }
  
  h1 {
    font-size: 1.8rem;
    margin: $main-spacing 0;
  }
  
  h2 {
    font-size: 1.6rem;
    margin: $main-spacing 0;
  }
  
  p {
    margin-bottom: $main-spacing;
    line-height: 1.5;
  }

.container {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
  }
  .featured-dog {
    padding: $main-spacing;
    border: 1px solid $border-color;
    display: flex;
  }
  
  .featured-dog__wrapper {
    flex: 1;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
    .featured-dog__background {
      position: absolute;
      top: 0;
      left: 0;
  
      width: 110%;
      height: 110%;
  
      margin: -5%;
  
      background-size: cover;
  
      padding: $main-spacing;
  
      filter: blur(10px);
    }
  
    .featured-dog__image {
      position: relative;
      z-index: 2;
  
      img {
        width: 100%;
        max-height: 100%;
      }
    }
  }
  
  .featured-dog__description {
    flex: 1;
    padding: 0 $main-spacing;
  }
  .spinner {
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  
    align-items: center;
    justify-content: center;
    z-index: 3;
  
    .spinner__content {
      width: 40px;
      height: 40px;
      background: $primary-color;
      animation: rotateplane 1.2s infinite ease-in-out;
    }
  
    &.spinner--visible {
      display: flex;
    }
  }
  
  @keyframes rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
  
    50% {
      transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    }
  
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
  }
  .tiles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 $main-spacing * -1;
  
    .tiles__tile {
      flex: 0 1 33.3%;
      padding: 0 $main-spacing;
      margin-bottom: $main-spacing / 2;
    }
  
    .tiles__tile-content {
      cursor: pointer;
      background: $primary-color;
      padding: $main-spacing;
      color: $tile-text-color;
      text-align: center;
      transition: 0.5s;
  
      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }